ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: medium;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: white;
}

.main-after-nav {
    background-color: rgb(69 70 70);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: small;
    font-style: bold;
}

.li-relative {
    position: relative;
}

.border-bottom {
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

.div-absolute {
    position: absolute;
    width: 90%;
    background-color: white;
    color: black;
    margin: auto!important;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.div-absolute1 {
    position: absolute;
    width: 12rem;
    top: 100%;
    background-color: white;
    color: black;
}

ul li ul {
    display: none!important;
}

.li-hover:hover {
    color: red;
    cursor: pointer;
}

ul li:hover ul {
    display: block!important;
    z-index: 999
}

.text-white {
    color: white!important;
}
.logo{
        width:"80px";
        height:"40px"
    } 
@media (min-width:768px) and (max-width:1023px) {
    ul li a {
        text-decoration: none;
        color: white;
        font-size: small;
    }
    .afternav-div-container {
        text-align: center;
    }
    /* .logo{
       width:"80px"!important;
        height:"35px"!important;
    } */
}

@media (min-width:0px) and (max-width:767px) {
    .navbar-container, .main-after-nav {
        display: none;
    }
    /* .logo{
        width:"100px"!important;
        height:"40px"!important;
    } */
}